<img src="images/logoHeader.png" style="width: 230px; margin-bottom: 50px; margin-top: 20px;">

<form class="searchbox">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

      <input type="text" class="form-control" placeholder="find a bike" ng-model="searchBike">

    </div>
  </div>
</form>

<button
  type="button" class="bike-list-el btn "
  ng-repeat='bike in bikeList | filter:searchBike as filteredList'
  ng-class="'btn-'+bike.status"
  ng-mouseenter="flash(bike)"
  ng-mouseleave="unflash()"
  ng-click="updateSelection([bike])">
  <span class="bike-id">{{bike.id}}</span>
  <span class=" bike-type" >{{bike.type}}</span>
  <span class="bike-last-seen">{{bike.lastSeen}}</span>
  <span class="bike-status">{{bike.status}}</span>
</button>

